/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:GeosansLight;
  	src:url("GeosansLight.eot") format("eot"),url("GeosansLight.woff") format("woff"),url("GeosansLight.ttf") format("truetype"),
  	url("GeosansLight.svg#GeosansLight") format("svg");
  	font-weight:normal;
  	font-style:normal;
}

body{
	background-color: black;
	color: #c5c5c5;
	font-family: GeosansLight;
	padding: 0px;
	margin: 0px;
}

h1{
	font-size: 50px;
	line-height: 45px;
	text-align: center;
}	

h3{
	font-size:18px;
	line-height: 0px;
	text-align: center;
	letter-spacing: 0.3px;

}

.menu{
	text-align: center;
	font-size: 15px;
}

.menu ul{
	display: inline;
	padding: 0px;
	list-style-type: none;
	float: center;
}

.menu li{
	display: inline;
}

a{
	text-decoration: none;
	color: #c5c5c5;
	padding: 5px 43px;
	text-align: center;
}
a:hover{
	color: white;
}

table, th, td{
	border-collapse: collapse;
}

th, td{
	padding: 0px;
}